%% קובץ הגדרות עבור מחשב מרכז הבקרה
[
  {logistics_sim, [
    {role, control_center},
    {node_cookie, logistics_cookie},
    {ui_node, 'ui@192.168.64.3'},
    {zone_nodes, ['zone1@192.168.64.3', 'zone2@192.168.64.3', 'zone3@192.168.64.3']}
  ]},
  {kernel, [
    {distributed, [{logistics_sim, ['control@192.168.64.3']}]}
  ]}
].
