%% קובץ הגדרות עבור מחשב מנהל אזורים 2
[
  {logistics_sim, [
    {role, zone_manager},
    {node_cookie, logistics_cookie},
    {control_node, 'control@192.168.64.3'},
    {zone_ids, [3, 4]}  % האזורים שמחשב זה אחראי עליהם
  ]},
  {kernel, [
    {distributed, [{logistics_sim, ['zone2@192.168.64.3']}]}
  ]}
].
